In [3]:
import pandas as pd
import numpy as np

In [2]:
sent1 = 'It is a good practice for us.'
sent2 = 'It was also good to know about it.'

In [49]:
from nltk import FreqDist 
from nltk.tokenize import word_tokenize

tokens1 = word_tokenize(sent1.lower())
tokens2 = word_tokenize(sent2.lower())
tokens = tokens1+tokens2
freq = FreqDist(tokens1)
freq2 = FreqDist(tokens2)
freq = pd.Series(freq)
freq2 = pd.Series(freq2)
freq3 = pd.concat([freq,freq2], axis=1)
freq3.fillna(0, inplace=True)

In [50]:
freq3[0:].astype(int).T

   it  is  a  good  practice  for  us  .  was  also  to  know  about
0   1   1  1     1         1    1   1  1    0     0   0     0      0
1   2   0  0     1         0    0   0  1    1     1   1     1      1

In [59]:
df = pd.DataFrame({},index=[1,2],columns=list(set(tokens)))

In [60]:
counts1 = [tokens1.count(x) for x in df.columns]
counts2 = [tokens2.count(x) for x in df.columns]

In [61]:
counts1

[1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 1]

In [62]:
df.iloc[0,:]=counts1
df.iloc[1,:]=counts2

In [63]:
df

  good for us was it about  . also practice to know is  a
1    1   1  1   0  1     0  1    0        1  0    0  1  1
2    1   0  0   1  2     1  1    1        0  1    1  0  0

In [69]:
df2 = {'word': tokens}
df2 = pd.DataFrame(df2)
# df2.set_index('word')
df2

        word
0         it
1         is
2          a
3       good
4   practice
5        for
6         us
7          .
8         it
9        was
10      also
11      good
12        to
13      know
14     about
15        it
16         .

# Bag Technique

In [70]:
from sklearn.feature_extraction.text import CountVectorizer

In [71]:
cvt = CountVectorizer()

In [72]:
new_data = cvt.fit_transform([sent1,sent2])

In [73]:
new_data

<2x11 sparse matrix of type '<class 'numpy.int64'>'
	with 13 stored elements in Compressed Sparse Row format>

In [76]:
lst=new_data.toarray()

In [80]:
lst2=list(cvt.get_feature_names_out())

In [77]:
count1 = lst[0]
count2 = lst[1]

In [85]:
df = pd.DataFrame(data=new_data.toarray(),columns=cvt.get_feature_names_out())

In [86]:
df

   about  also  for  good  is  it  know  practice  to  us  was
0      0     0    1     1   1   1     0         1   0   1    0
1      1     1    0     1   0   2     1         0   1   0    1